.wow {
    width: 100px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  .instructions {
    margin: 30px;
    text-align: center;
  }
  
  .user_guess{
    line-height: 30px;
    text-align: center;
  }
  
  .options {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
  }
  
  .option_topic {
    font-weight: bold;
    padding: 10px;
    
  }
  
  .option_choices {
    border-block: 3px solid white;
    background-color: black;
    color: white;
    border-radius: 10px;
    list-style: none;
    padding: 40px;
  }
  
  button {
    width: 70%;
    background-color: white
  }
  
    .button {
      text-align: center;
      padding: 40px;
    }